.movie-wrapper{
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 1px 6px gray;
    transition: .3s;
}

.overlay{
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition: opactiy .4s ease-in;
    background-color: rgba(0,0,0,.6);
    cursor: pointer;
}
.movie-title{
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

}
.movie-wrapper:hover .overlay{
    opacity: 1;
}

.movie-wrapper:hover{
    scale: 1.05;
}