.carousel-item img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position:top;
  filter: brightness(50%);
}
.carousel-wrapper{
  height: 65vh !important;
  background-color: red;
}

.carousel-wrapper h3{
  font-family: 'Poppins', sans-serif;

}
