@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@500&display=swap');

:root{
  --base-color: #1f1f1f;
}

body{
  font-family: "Montserrat", sans-serif;
}

.loader{
  height: 300px;
  width: 200px;
  background-size: 200%;
  background-position: right;
  animation: loader-animation 3s infinite alternate;
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(106,106,106,1) 23%, rgba(79,79,79,1) 53%, rgba(130,129,129,1) 73%, rgba(255,255,255,1) 100%);
}

@keyframes loader-animation {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

@keyframes parallax {
  0%{
    margin-top: 33px;
  }
  50%{
    margin-top: 66px;
  }
  100%{
    margin-top: 100px;
  }
}